/* fonts */
@font-face {
  font-family: "maquette";
  src: url("assets/fonts/ARSMaquettePro-Regular.woff") format("woff"),
    url("assets/fonts/ARSMaquettePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avalon";
  src: url("assets/fonts/Avalon_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body{
  font-family: maquette, sans-serif;
}


/* header */
.left-general-navigation,
.right-general-navigation,
.home-navigation,
.cover-logo,
.cover-date {
  display: none;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #000;
  display: block;
  height: auto;
  padding: 16px 10px;
  width: 106px;
  will-change: height;
  text-align: center;
}

.logo svg {
  width: 65px;
  margin: 0 auto;
}

.search-menu-wrapper {
  display: flex;
}

.search,
.menu {
  display: inline-block;
  border: unset;
  background: transparent;
  border-left: 1px solid #eee;
  height: 100%;
  padding: 16px;
}

.menu span {
  transition: 0.4s;
  background-color: #f42;
  display: block;
  height: 2px;
  width: 20px;
}

.menu span:first-child {
  transform: translateY(-6px);
}

.menu span:last-child {
  transform: translateY(6px);
}

.nav-message-announcement {
  line-height: 60px;
  font-family: maquette, sans-serif;
  font-size: 10px;
  padding: 5px 10px;
  box-shadow: 0 16px 48px rgb(0 0 0 / 15%);
  background: #fd3;
  color: #000;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

#grid-container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-item{
  min-height: 30vh;
  background-size: 100% 100%;
  padding: 10px;
}

.cover-title{
  font-family: avalon, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.cover-byline{
  color: hsla(0,0%,100%,.6);
  text-decoration: none;
  font-size: 12px;
}

.article-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.cover-byline{
  display: flex;
  align-items: baseline;

} 

#main-article{
  background-image: url(assets/images/main.jpg);
}

#side-article1{
  background-image: url(assets/images/mainside1.webp);
}

#side-article2{
  background-image: url(assets/images/mainside2.webp);
}
